/* CROSS-SITE VARIABLES */

/* Site Colors (Font Colors & Site Elements) */
$green: #bff22f;
$green1: #cece3c;
$blue: #30aee2;
$blue1: #0C80B4;
$blue2: #0a5777;
$orange: #f1a100;
$orangeVox1: #f1a100;
$orangeVox2: #f1a100;
$greenMamas: #aeba26;

$eee: #eeeeee;
$efe: #efefef;
$gray: #c8c8c8;
$grey: #d6d6d6;
$grey1: #f1f1f1;
$footerGrey: #fafafa;
$darkGrey: #ebebeb;
$lightGrey: #e5e5e5;

$font: #010101;
$fontLight: #898989;
$fontDark: #767676;

$greenDark: #6e910d;
$white: #fff;
$black: #000;
$pink: #93c382;
$red: #7ea16f;
$bgColor: #f8f8f8;
$black: #353738;
$purple: #4d4959;

/* Site Fonts */
$condensed: 'Lato', sans-serif;

/* Margins*/
$margin100Bottom: 100px;
$margin50Bottom: 50px;
$margin25Bottom: 25px;