/*----- SITE FOOTER REGION -----*/
#footer {
  background: $footerGrey;
  text-align: center;
  padding-top: $margin100Bottom;
  padding-bottom: $margin100Bottom;

  .navigation {
    float: left;
    margin-left: 30px;
  }

  a {
    font-size: 18px;
  }
  ul {
    li {
      a {
        color: $black;
      }
      a:hover {
        color: $fontLight;
      }
    }
  }

  .footer-navigation {
    margin-bottom: $margin50Bottom;
  }
  .copyright {
    text-align: left;
    color: $fontLight;
  }

  .social-links {
    a {
      margin-left: 10px;
    }
  }

  .footer-menu {
    ul {
      -webkit-column-count: 3; /* Chrome, Safari, Opera */
      -moz-column-count: 3; /* Firefox */
      column-count: 3;
    }

    li {
      margin-bottom: 15px;
      text-align: left;
      display: inline-block;
      width: 100%;

      a {
        font-size: 14px;
      }
    }
  }

  .footer-logo {

    .footer-logo-svg {
      width: 220px;
      height: 55px;
      float: left;
      img {
        height: 100%;
      }
    }

    img {
      float: left;
    }
  }
}
