/*----- SITE FOOTER REGION -----*/
#footer {
  background: $footerGrey;
  text-align: center;
  padding-top: $margin100Bottom;
  padding-bottom: $margin100Bottom;

  #block-simplenewssubscription {
    margin-bottom: $margin100Bottom;

    form {
      max-width: 100%;

      #edit-message {
        margin-bottom: $margin50Bottom;
        font-size: 16px;
        line-height: 22px;
        color: $fontLight;
      }

      #edit-actions,
      #edit-actions--2,
      #edit-mail-wrapper {
        display: inline-block;
      }

      #edit-actions,
      #edit-mail-wrapper {
        max-width: 590px;
      }

      #edit-mail-wrapper {
        margin-right: 5px;
      }
      #edit-mail-0-value {
        padding: 15px 20px;
        border: 1px solid $black;
        width: 590px;
        max-width: 590px;
        display: inline-block;
        height: 50px;
        font-size: 14px;
      }

      input[type="submit"] {
        padding: 15px 30px;
        background: $black;
        border: 1px solid $black;
        color: $white;
        display: inline-block;
        height: auto;
        font-size: 14px;
        height: 50px;
        text-transform: uppercase;
      }

    }

  }

  .navigation {
    float: left;
    margin-left: 30px;
  }

  a {
    font-size: 18px;
  }
  ul {
    li {
      a {
        color: $black;
      }
      a:hover {
        color: $fontLight;
      }
    }
  }

  .footer-newsletter-description {
    margin-bottom: $margin50Bottom;
  }

  .footer-search {
    margin-bottom: $margin100Bottom;
  }

  .footer-navigation {
    margin-bottom: $margin50Bottom;
  }
  .copyright {
    text-align: left;
    color: $fontLight;
  }

  .social-links {
    a {
      margin-left: 10px;
    }
  }

  .developed-by-martin {
    font-size: 12px;
    a {
      color: #434748;
      font-size: 12px;
    }
  }

  .footer-menu {
    ul {
      -webkit-column-count: 3; /* Chrome, Safari, Opera */
      -moz-column-count: 3; /* Firefox */
      column-count: 3;
    }

    li {
      margin-bottom: 15px;
      text-align: left;
      display: inline-block;
      width: 100%;

      a {
        font-size: 14px;
      }
    }
  }

  .footer-logo {

    .footer-logo-svg {
      width: 220px;
      height: 55px;
      float: left;
      img {
        height: 100%;
      }
    }

    img {
      float: left;
    }
  }
}
